
*.native
.vscode
*.ml
*.out
*.csv
*.zst
_build
OUTSTANDING.*
.DS_Store
Makefile.coq
Makefile.coq.conf
*.vo
*.vos
*.vok
*.glob
*.d
*.aux
*.cache
*.ml
*.mli
!verify/main.ml
!verify/skelet1_main.ml
*.o
*.cmx
*.cmi
*.cmo
**/target
*.dat
*.zst
*.log
verify/verify
verify/skelet1
perf.data*
flamegraph.svg
*.coq-native
